<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>animation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description">
  <meta name="author">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <!-- <script src="../js/modernizr-custom.js"></script> -->
</head>


<body>

  <section class="download-area">
    <a href="3" class="button">Download  <i class="fa fa-download" aria-hidden="true"></i></a>
    <!--ex https://wirecss.com/ -->
  </section>

  <section class="svg_circle">
    <svg width="300" height="300">
      <circle cx="50" cy="50" r="40" stroke="#b60c0c" stroke-width="1" fill="rgb(37, 196, 44)">
    </svg>
  </section>

<!--http://codepen.io/bryant6831/pen/oxEQGv-->
  <section class="svg_line">
    <svg width="500" height="600">
      <line class="top" x1="0" y1="0" x2="500" y2="0" style="stroke:rgb(215, 126, 8)" stroke-width="3" />
      <line class="left" x1="0" y1="0" x2="0" y2="500" style="stroke:rgb(215, 126, 8)" stroke-width="3" />
      <line class="bottom" x1="0" y1="500" x2="500" y2="500" style="stroke:rgb(215, 126, 8)" stroke-width="2" />
      <line class="right" x1="500" y1="0" x2="500" y2="500" style="stroke:rgb(215, 126, 8)" stroke-width="3" />
    </svg>
  </section>






</body>



</html>
