<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <title>zenfone text</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description">
      <meta name="author">
      <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/animation_text.css">
      <!-- <script src="../js/modernizr-custom.js"></script> -->
      <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
      <!-- <script src="../js/bundle.js"></script> -->
      <script type="text/javascript" src="../libs/gsap/src/minified/TweenMax.min.js"></script>
      <script type="text/javascript" src="../libs/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
      <script type="text/javascript" src=" ../libs/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
      <script type="text/javascript" src="../libs/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
      <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js"></script> -->
</head>

<body>
      <section class="section_01 all_width">
            <div class="text">
                  <h2 class="title">Zenfone<span class="num">3</span></h2>
                  <div class="learn">eXecices</div>
            </div>

            <div class="text">
                  <h2 class="title">Zenfone<span class="num">3</span></h2>
                  <div class="learn">eXecices</div>
            </div>


      </section>
      <section class="section_02 all_width">
            <div class="text">
                  <div><sapn class="first_01">Inspired</sapn>laptop screen</div>
                  <div><span>Designer</span><span>look like candy</span></div>
            </div>
            <div class="text"></div>

      </section>
      <section class="section_03 all_width">03</section>
      <section class="section_04 all_width">04</section>










      <script src="js/animation_text.js"></script>



</body>


</html>
