<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>boxslider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description">
  <meta name="author">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/box.css">
  <!-- <link rel="stylesheet" type="text/css" href="../css/animation.css"> -->
  <!-- <script src="../js/modernizr-custom.js"></script> -->
  <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
  <script src="../js/box.js"></script>
</head>

<body>


  <!-- <div class="boxcover captionfull">
    <img src="https://placem.at/places?h=260&w=325
" alt="">
    <div class="cover boxcaption">
      <h3>title</h3>
      <p>today is my lucky day</p>

    </div> -->



  </div>

  <div class="boxgrid caption">
    <img src="https://placem.at/places?h=260&w=325"/>
    <div class="cover boxcaption">
      <h3>Jarek Kubicki</h3>
      <p>Artist<br/>More Work</p>
    </div>
  </div>

  <div class="boxgrid captionfull">
    <img src="https://placem.at/places?h=260&w=325"/>
    <div class="cover boxcaption">
      <h3>bryant huang</h3>
      <p>Artist<br/>More Work</p>
    </div>
  </div>






  <!-- js -->

</body>


</html>
