<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description">
  <meta name="author">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <!-- <script src="../js/modernizr-custom.js"></script> -->
  <script src="../libs/jquery/dist/jquery.min.js"></script>
  <script src="../js/retina.js"></script>

</head>


<body>
  <h2>animation</h2>
  <div class="wrapper">
    <div id="icon_01" class="floating_icon">1</div>
    <div id="icon_02" class="floating_icon">2</div>
    <div id="icon_03" class="floating_icon">3</div>
    <div id="icon_04" class="floating_icon">4</div>
    <div id="icon_05" class="floating_icon">5</div>
  </div>
  <div>js Retina寫法</div>
  <img class="retina" src="img/logo.jpg">


  <div>sass retina寫法</div>
 <div class="retinas4"></div>

  <div class="svg"></div>


</body>



</html>
