<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description">
    <meta name="author">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">
    <!-- <script src="../js/modernizr-custom.js"></script> -->
</head>


 <body>


<!-- 
<div class="mydiv1 test">text1</div>

<div class="mydiv2 test">text2</div>
<div class="mydiv3 test">text3</div>
<div class="mydiv4 test">text4</div>
<div class="mydiv5 test">text5</div>
<div class="mydiv6 test">text6</div>
<div class="mydiv7 test">text7</div>
<div class="mydiv8 test">text8</div> -->


<div class="rwd_1900 rwd_720 rwd_360">721</div>

</body>


</html>
