<!DOCTYPE html>
<html>

<head>

      <meta charset="utf-8">
      <title>javascript</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description">
      <meta name="author">

      <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../css/learnjs.css">
      <!-- <script src="../js/modernizr-custom.js"></script> -->
      <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>

</head>


<body>
      <div class="section">
            <!-- http://www.w3schools.com/js/js_string_methods.asp -->
            <h2>函數</h2>
            <div id="function"></div>
            <h2>物件1</h2>
            <div id="objects"></div>
            <h2>物件2</h2>
            <div id="person"></div>
            <h2>字串的計算</h2>
            <div id="text"></div>
            <!-- <h2>字串的計算1</h2>
      <div id="text1"></div> -->
      </div>
      <!-- .this 觀念-->
      <!-- https://software.intel.com/zh-cn/blogs/2013/10/09/javascript-this -->

      <div class="section">
            <h1 class="title">12 extremely useful hacks for JavaScript</h2>
            <div id="this"></div>

      </div>


      <!-- <div class="section">
         <a href="" class="addhref">連結我</a>
     </div> -->




</body>
<script src="../js/learnjs.js"></script>
</html>
