<!DOCTYPE html>
<html>

<head>

      <meta charset="utf-8">
      <title>nav</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description">
      <meta name="author">

      <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../css/leftmenu.css">
      <!-- <link rel="stylesheet" type="text/css" href="../css/animation.css"> -->
      <!-- <script src="../js/modernizr-custom.js"></script> -->
      <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
</head>

<body>

      <div id="navLeft">
            <ul>
                  <li class="menu">01</li>
                  <li class="menu">02</li>
                  <li class="menu">03</li>
                  <li class="menu">04</li>
                  <li class="menu">05</li>
            </ul>
      </div>
      <div class="wrapper">
            <div id="btn_show"></div>
            content
      </div>







      <!-- js -->
      <script src="../js/leftmenu.js"></script>
</body>


</html>
