<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<title>nav</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description">
    <meta name="author">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/animation.css"> -->
    <!-- <script src="../js/modernizr-custom.js"></script> -->
</head>
<body>


  <header id="mast" class="">
    <!--logo-->
    <h1 class="logo">logo</h1>

    <!--main-->
    <a href="#" id="toggle"><div class="menubars"></div>

      <div class="nav_backgroung">
       <ul>
         <li>
           <p>Intro
             <a href="">Home</a></p>
         </li>
         <li>
           <p>Welcome to my Home
             <a href="">Blog</a></p>
         </li>
         <li>Please let me service you
           <p><a href="">Service</a></p>
         </li>
         <li>send your best news
           <p><a href="">News</a></p>
         </li>
         <li>Message to Us
           <p><a href="">Contact Us</a></p>
         </li>
       </ul>


      </div>



  </header>





</body>


</html>
