<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <title>parallax_02</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description">
      <meta name="author">
      <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/parallax_02.css">
      <!-- <script src="../js/modernizr-custom.js"></script> -->
      <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
      <!-- <script src="../js/bundle.js"></script> -->
      <script type="text/javascript" src="../libs/gsap/src/minified/TweenMax.min.js"></script>
      <script type="text/javascript" src="../libs/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
      <script type="text/javascript" src=" ../libs/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
      <script type="text/javascript" src="../libs/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>





      <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js"></script> -->






</head>

<body>
      <!-- <div id="canvas"></div> -->
      <div class="wrapper all_width">
         <div class="full_width">
            <div class="leftimg rectimg"></div>
            <div class="rightimg rectimg"></div>
            <div class="textcenter">main text is content</div>
            <div class="clearfix"></div>
         </div>
      </div>



      <div class="one all_width">
            <div id="trigger1"></div>
            <div class="rect width_h ">01</div>
            <div class="rect_02 width_h">02</div>

      </div>

      <div class="second all_width">
            <div id="trigger2"></div>
            <div class="areatext">
                  Think of plugins like special properties that are dynamically added to TweenLite, giving it extra abilities. This keeps the core engine small and efficient, yet allows for virtually unlimited capabilities to be added dynamically. Each plugin is associated




            </div>
            <div class="areatext2">
                  with a property name and it takes responsibility for handling that property. For example, the CSSPlugin is associated with the "css" property name so if it loaded, it will intercept the "css" property, and the ScrollToPlugin will intercept
                  the "scrollTo" value, etc.:

            </div>
      </div>



      <div class="three all_width">
            <div id="trigger3"></div>
            <div class="robot"></div>

      </div>


      <div class="four all_width">
           <div id="trigger4"></div>
           <div id="cssanimation"></div>
     </div>

     <div class="five all_width">
          <div id="trigger5"></div>
          <div class="cid_01 rectimg"></div>
          <div class="cid_02 rectimg"></div>
          <div class="cid_02 rectimg"></div>
          <div class="cid_02 rectimg"></div>
          <div class="cid_03 rectimg"></div>
    </div>

    <div class="six all_width">
         <div id="trigger6"></div>

  </div>




      <script src="js/parallax_02.js"></script>



</body>


</html>
