<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description">
    <meta name="author">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/parallax.css">
    <!-- <script src="../js/modernizr-custom.js"></script> -->

    <style></style>

</head>

<body>

    <!--http://neversaycoding.tumblr.com/post/95356719102/%E7%BF%92%E4%BD%9C-1-2-%E8%A6%96%E5%B7%AE%E6%BB%BE%E5%8B%95%E8%A8%AD%E8%A8%88%E8%88%87-requestanimationframe-->




    <div class="parallax">
        <div class="parallax__group">
            <div class="parallax__layer parallax__layer-fore">
                <div class="full_all">
                    all
                </div>
                <!-- http://inspiregate.com/programming/javascript/383-more-efficient-than-the-native-jquery-dom-selector-queryselector-and-queryselectorall.html -->

                <div class="for_02">
                    01
                </div>


            </div>

            <div class="parallax__layer parallax__layer–base">
                <div class="back_02">
                    02
                </div>
            </div>

            <div class="parallax__layer parallax__layer–back">
              <div class="back_02">
                  02
              </div>


            </div>

            <div class="parallax__layer parallax__layer-deep">
                004
                <div class="deep_02">

                </div>
            </div>
        </div>
    </div>
    <script src="js/parallax.js"></script>
</body>

</html>
