<!DOCTYPE html>
<html>

<head>

      <meta charset="utf-8">
      <title>three</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description">
      <meta name="author">

      <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../css/menu_animation.css">
      <!-- <link rel="stylesheet" type="text/css" href="../css/animation.css"> -->
      <script src="http://threejs.org/build/three.min.js"></script>
      <script src="http://threejs.org/examples/js/renderers/Projector.js"></script>
      <script src="http://threejs.org/examples/js/renderers/CanvasRenderer.js"></script>
      <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
      <!-- <script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script> -->
</head>

<body>











      <!-- js -->
      <script src="../js/three_ex.js"></script>
</body>


</html>
