*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto; }
  .row {
    *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col {
  margin-left: 1.6%; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left; }

.col_1 {
  width: 8.33333%; }

.col_2 {
  width: 16.66667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333%; }

.col_5 {
  width: 41.66667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333%; }

.col_8 {
  width: 66.66667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333%; }

.col_11 {
  width: 91.66667%; }

.col_12 {
  width: 100%; }

.col:first-child,
.col_12 {
  margin-left: 0; }

@media all and (max-width: 720px) {
  .xsmall_1, .xsmall_2, .xsmall_3, .xsmall_4, .xsmall_5, .xsmall_6, .xsmall_7, .xsmall_8, .xsmall_9, .xsmall_10, .xsmall_11, .xsmall_12 {
    float: left; }

  .xsmall_1 {
    width: 8.33333%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_2 {
    width: 16.66667%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_3 {
    width: 25%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_4 {
    width: 33.33333%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_5 {
    width: 41.66667%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_6 {
    width: 50%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_7 {
    width: 58.33333%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_8 {
    width: 66.66667%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_9 {
    width: 75%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_10 {
    width: 83.33333%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_11 {
    width: 91.66667%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; }

  .xsmall_12 {
    width: 100%; }

  .xsmall:first-child,
  .xsmall_12 {
    margin-left: 0; } }
body {
  font-family: "Helvetica Neue" ,Helvetica,arial,sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 3em;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.8); }

h1.logo {
  color: white;
  margin: 0;
  font-size: 1em;
  position: absolute;
  display: inline-block;
  padding: 1em 0.5em 0; }

.nav_backgroung {
  display: none; }

.menubars {
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  position: relative;
  z-index: 999 !important;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  -o-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s; }
  .menubars:before {
    top: -8px; }
  .menubars:after {
    top: 8px; }
  .menubars:before, .menubars:after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: #FFF;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s; }

.js-open .menubars {
  background: none !important; }
.js-open .menubars:before {
  top: 0px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.js-open .menubars:after {
  top: 0px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
