*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto; }
  .row {
    *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col {
  margin-left: 1.6%; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_13, .col_14, .col_15, .col_16, .col_17, .col_18, .col_19, .col_20, .col_21, .col_22, .col_23, .col_24 {
  float: left; }

.col_1 {
  width: 4.16667%; }

.col_2 {
  width: 8.33333%; }

.col_3 {
  width: 12.5%; }

.col_4 {
  width: 16.66667%; }

.col_5 {
  width: 20.83333%; }

.col_6 {
  width: 25%; }

.col_7 {
  width: 29.16667%; }

.col_8 {
  width: 33.33333%; }

.col_9 {
  width: 37.5%; }

.col_10 {
  width: 41.66667%; }

.col_11 {
  width: 45.83333%; }

.col_12 {
  width: 50%; }

.col_13 {
  width: 54.16667%; }

.col_14 {
  width: 58.33333%; }

.col_15 {
  width: 62.5%; }

.col_16 {
  width: 66.66667%; }

.col_17 {
  width: 70.83333%; }

.col_18 {
  width: 75%; }

.col_19 {
  width: 79.16667%; }

.col_20 {
  width: 83.33333%; }

.col_21 {
  width: 87.5%; }

.col_22 {
  width: 91.66667%; }

.col_23 {
  width: 95.83333%; }

.col_24 {
  width: 100%; }

.col:first-child,
.col_12 {
  margin-left: 0; }

@media all and (min-width: 721px) and (max-width: 1365px) {
  .m_col_1, .m_col_2, .m_col_3, .m_col_4, .m_col_5, .m_col_6, .m_col_7, .m_col_8, .m_col_9, .m_col_10, .m_col_11, .m_col_12, .m_col_13, .m_col_14, .m_col_15, .m_col_16, .m_col_17, .m_col_18, .m_col_19, .m_col_20, .m_col_21, .m_col_22, .m_col_23, .m_col_24 {
    float: left; }

  .m_col_1 {
    width: 4.16667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_2 {
    width: 8.33333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_3 {
    width: 12.5%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_4 {
    width: 16.66667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_5 {
    width: 20.83333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_6 {
    width: 25%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_7 {
    width: 29.16667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_8 {
    width: 33.33333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_9 {
    width: 37.5%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_10 {
    width: 41.66667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_11 {
    width: 45.83333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_12 {
    width: 50%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_13 {
    width: 54.16667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_14 {
    width: 58.33333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_15 {
    width: 62.5%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_16 {
    width: 66.66667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_17 {
    width: 70.83333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_18 {
    width: 75%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_19 {
    width: 79.16667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_20 {
    width: 83.33333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_21 {
    width: 87.5%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_22 {
    width: 91.66667%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_23 {
    width: 95.83333%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; }

  .m_col_24 {
    width: 100%; }

  .m_col:first-child,
  .m_col_12 {
    margin-left: 0; } }
@media all and (max-width: 720px) {
  .s_col_1, .s_col_2, .s_col_3, .s_col_4, .s_col_5, .s_col_6, .s_col_7, .s_col_8, .s_col_9, .s_col_10, .s_col_11, .s_col_12, .s_col_13, .s_col_14, .s_col_15, .s_col_16, .s_col_17, .s_col_18, .s_col_19, .s_col_20, .s_col_21, .s_col_22, .s_col_23, .s_col_24 {
    float: left; }

  .s_col_1 {
    width: 4.16667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_2 {
    width: 8.33333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_3 {
    width: 12.5%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_4 {
    width: 16.66667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_5 {
    width: 20.83333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_6 {
    width: 25%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_7 {
    width: 29.16667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_8 {
    width: 33.33333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_9 {
    width: 37.5%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_10 {
    width: 41.66667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_11 {
    width: 45.83333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_12 {
    width: 50%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_13 {
    width: 54.16667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_14 {
    width: 58.33333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_15 {
    width: 62.5%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_16 {
    width: 66.66667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_17 {
    width: 70.83333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_18 {
    width: 75%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_19 {
    width: 79.16667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_20 {
    width: 83.33333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_21 {
    width: 87.5%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_22 {
    width: 91.66667%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_23 {
    width: 95.83333%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; }

  .s_col_24 {
    width: 100%; }

  .s_col:first-child,
  .s_col_12 {
    margin-left: 0; } }
body {
  font-family: "Helvetica Neue" ,Helvetica,arial,sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 3em;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.8); }

h1.logo {
  color: white;
  margin: 0;
  font-size: 1em;
  position: absolute;
  display: inline-block;
  padding: 1em 0.5em 0; }

.nav_backgroung {
  display: none; }

.menubars {
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  position: relative;
  z-index: 999 !important;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  -o-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s; }
  .menubars:before {
    top: -8px; }
  .menubars:after {
    top: 8px; }
  .menubars:before, .menubars:after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: #FFF;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s; }

.js-open .menubars {
  background: none !important; }
.js-open .menubars:before {
  top: 0px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.js-open .menubars:after {
  top: 0px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
