//variables
$padding: 500px;
.nav {
  padding-left: $padding;
}
//nesting
body {
  .nav {
    padding-left: $padding;
    li {
      text-align: center;
    }
    &.av {
      text-align: left;
    }
  }
}
//-------------------------
//    Partials Import
//-------------------------
// @import "main" ;

//-------------------------
//      Mixins
//-------------------------
@mixin margin {
  margin: 200px;
}
p {
  @include margin;
}
@mixin margin ($dis) {
  margin: $dis $dis $dis $dis/2;
}
p {
  @include margin (500px);
}
@mixin systems ($s1 ,$s2) {
  padding: $s1;
  margin: $s2;
}
p {
  @include systems (100px , 200px );
}


$value: 500px;
@mixin systems ($s1 ,$s2:$value) {
  padding: $s1;
  margin: $s2;
}
.systems {
  @include systems (100px ,$value);
}


//-------------------------
//       Extend
//-------------------------

.extend {
color:rgb(255, 77, 0)
}

h1 {
  font-size: 100px;
  @extend .extend ;
}
h2 {
  font-size: 80px;
  @extend .extend ;
}


//-------------------------
//       Operators
//-------------------------



//-------------------------
//        if()
//------------------------3-
@mixin test($condition) {
  $color: if($condition, blue , red);
  color: $color;
}
.addClass {
  @include test(true);
};
.removeClass {
  @include test(false);
}
//@if
@mixin txt($weight) {
  color: white;
  @if $weight == bold {
    font-weight: bold;
  }
}
.text_01 {
  @include txt(none);
}
.text_02 {
  @include txt(bold);
}
//@if else
@mixin txt($weight) {
  color: white;
  @if $weight == bold {
    font-weight: bold;
  }
  @else if $weight == light {
    font-weight: 100;
  }
  @else if $weight == heavy {
    font-weight: 900;
  }
}
.text_03 {
  @include txt(light);
}
.text_04 {
  @include txt(heavy);
}
//for grid $i from through number
@for $i from 1 through 4 {
  .col_#{$i} {
    width: (100%/4*$i);
  }
}
//for   $i from to number
@for $i from 1 to 4 {
  .cols_#{$i} {
    width: (100%/4*$i);
  }
}
// + - * %
h2 {
  width: 3px * 5 + 2px;
  width: 3 * (5px + 4px);
}
// original value
$base-size: 16px;
$line-height: 24px;
h1 {
  font-size: #{$base-size} / #{$line-height};
}
h2 {
  font-size: ($base-size / $line-height) + em;
}
// ==  !=
@mixin you($weight) {
   @if $weight != light{
    font-weight: bold;
  }
}
span {
  @include you(light);
}
// 小於
$padding: 10px;
h2 {
  @if $padding<=20px {
    padding: $padding;
  }
  @else {
    padding: $padding/2;
  }
}
