//base
@import "base/variables";
@import "base/mixin";
@import "base/reset";
@import "layout/grid";
@import "layout/rwd"; // @import "modules/hamburger_menu";
@mixin width_all {
      width: 100%;
      height: 100vh;
}

// $list:  c7ffbe 89de7b 7bd66c 5abd4b;
//
// @each $color in $list
//
//  .a_0#{$num} {
//   background-color: #{$color};
//  }
body {
      background-color: #a3b0b8;
}
.wrapper {
      width: 100%;
      .section {
            @include width_all();
      }
      ul {
            width: 40%;
            height: 200px;
            margin: 0 auto 0;
            padding-top: 50px;
            li {
                  display: inline-block;
                  @include margin-center(15px);
                  cursor: pointer;
                  .nav__link__current {
                     color: red;
                  }
            }
      }
      .a_01 {
            background-color: #c7ffbe;
      }
      .a_02 {
            background-color: #89de7b;
      }
      .a_03 {
            background-color: #7bd66c;
      }
      .a_04 {
            background-color: #5abd4b;
      }
}
