//base
@import "base/variables";
@import "base/mixin";
@import "layout/grid";
@import "base/reset";
@import "layout/rwd"; //animation
@import "animation/animate";
.parallax {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      .parallax__group {
            position: relative;
            width: 100%;
            height: 100vh;
            .parallax__layer {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
            }
            .full_all {
                  background-color: #136664;
                  width: 100%;
                  height: 100vh;
            }


            .parallax__layer--fore {
                  z-index: 4;
            }



            .parallax__layer--base {
                  z-index: 3;
                  background-color: #1dbdb9;
            }


            .parallax__layer--back {
                  z-index: 2;
                  .for_01 {
                     width: 30%;
                     height: 25vh;
                     background-color: #301366;
                     margin-top: 100vh;
                     position: relative;
                     opacity: 0.9;
                     left: 20%;
                  }
                  .for_02 {
                     width: 50%;
                     height: 40vh;
                     left: 30%;
                     background-color: #301366;
                     left: 0;
                     position: relative;
                     opacity: 0.9;
                  }
                  .for_03 {


                  }
                  .for_04 {}
            }
            .parallax__layer--deep {
                  z-index: 1;
                  .for_02 {
                     width: 50%;
                     height: 40vh;
                     left: 30%;
                     background-color: #082d2c;
                     left: 0;
                     position: relative;
                     opacity: 0.9;
                  }
            }
      }
}
