//base
@import "base/variables";
@import "base/mixin";
@import "layout/grid";
@import "layout/rwd"; //animation
@import "animation/animate";
.parallax {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      .parallax__group {
            position: relative;
            width: 100%;
            height: 100vh;
            .parallax__layer {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
            }
            .parallax__layer--fore {
                  z-index: 4;
            }
            .parallax__layer--base {
                  z-index: 3;
            }
            .parallax__layer--back {
                  z-index: 2;
            }
            .parallax__layer--deep {
                  z-index: 1;
            }
      }
}
