//base
@import "base/variables";
@import "base/mixin";
@import "layout/grid";
@import "base/reset";
@import "layout/rwd"; //animation
@import "animation/animate";
.parallax {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      .parallax__group {
            position: relative;
            width: 100%;
            height: 100vh;
            .parallax__layer {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  .for_02 {
                        width: 50%;
                        height: 40vh;
                        left: 30%;
                        background-color: #082d2c;
                        left: 0;
                        position: relative;
                        opacity: 0.9;
                  }
                  .deep_02 {
                        width: 50%;
                        height: 10vh;
                        left: 60%;
                        background-color: #8ee2df;
                        left: 0;
                        position: relative;
                        opacity: 0.9;
                  }
                  .back_02 {
                        width: 80%;
                        height: 20vh;
                        left: 33%;
                        background-color: #3f731f;
                        left: 100;
                        position: relative;
                        opacity: 0.9;
                  }
            }
            .full_all {
                  background-color: #136664;
                  width: 100%;
                  height: 100vh;
            }
            .parallax__layer-fore {
                  z-index: 4;
            }
            .parallax__layer-base {
                  z-index: 3;
            }
            .parallax__layer-back {
                  z-index: 2;
            }
            .parallax__layer-deep {
                  z-index: 1;
            }
      }
}
