//parallax_02
//base
@import "base/variables";
@import "base/font";
@import "base/mixin";
@import "layout/grid";
@import "base/reset";
@import "layout/rwd"; //animation
.width_h {
      width: 100px;
      height: 100px;
      position: relative;
}
.all_width {
      width: 100%;
      height: 100vh;
}
.wrapper {
      background-color: #e7bfa5;
      .rect {
            background: #ff1b1b;
      }
      .rect_02 {
            background: #08648c;
      }
}
.one {
      background-color: #a5aae7;
      .rect {
            background: #ff1b1b;
      }
      .rect_02 {
            background: #08648c;
      }
}
.second {
      background-color: #b57b95;
      .areatext , .areatext2 {
            @include margin-auto ();
            height: 400px;
            width: 550px;
            // background-color: #99c9f0;
            text-align: center;
            padding-top: 100px;
            // opacity: 0;
      }
}
.three {
      background-color: #8dedd6;
      .robot {
            background: url('../img/01.jpg');
            width: 602px;
            height: 728px;
            display: block;
            opacity: 0;
      }
}
